 /* resets */

 * {
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

body {
    margin: 0;
}

main {
    max-width: 80ch;
    margin: auto;
}

p {
    font-family: 'Karla', sans-serif;
    font-family: 'Roboto Slab', serif;
}

h1,
h2,
h3,
h4, nav a, button {
    margin: 0;

    font-family: 'Alegreya Sans SC', sans-serif;
    font-variant: small-caps;
    font-weight: bold;
}

a {
    text-decoration: none;
}

header {
    display: flex; 
    flex-direction: column;

    margin: 0;

    background-color: whitesmoke;
    
    
}

/* main-header ---> 1st flex item of flexbox "header" */
.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    margin: 0;
}

/* logo-title ---> 1st flex item of flexbox "main-header"  */
.logo-title {
    margin:0; 

    display:flex;
    flex-basis: 50%;
    flex:auto;
    padding: 1em;

}

/* logo ---> 1st flex item of flexbox "logo-title"  */
.logo {
    font-size: 40px;
    color: purple;
}

/* logo-title ---> 2nd flex item of flexbox "logo-title"  */
.logo-title a{
    font-size: 21px;
    color: black;
    font-weight: bold;
    padding-left: 0.5em;
    
}

/* nav ---> 2nd flex item of flexbox "main-header"  */
nav ul{
    margin:0; 
    display:flex;
    flex-wrap: wrap;
    flex: auto;
    flex-basis:50%;
    padding: 1em;
    justify-content: end;
    align-items: center;
}

/* nav  li ---> flex items of flexbox "nav ul"  */
nav li{
    padding:0.5em;
    /* flex-basis: 100%; */
}

nav a{
    display: block;

    font-size: 21px;

    color: black;
    

    padding: 0.5em;
    text-align: center;
}

nav a:hover {
    background-image: linear-gradient(white, purple);
}

nav a:active {
    border: 1px solid black;
}

.current {
    background-color: #f7dfdf;
}

/* hero-section ---> 2nd flex item of flexbox "header" */
.hero-section {
    height: 80vh;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;


    background-image: url('https://images.pexels.com/photos/2138922/pexels-photo-2138922.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-position: center;
}

.hero-section h1{
    flex-wrap: wrap;

    color: white;
    font-size: 80px;

}

.hero-section p{
    flex-wrap: wrap;

    color: white;
    font-size: 20px;
}

.hero-section button {
    /* flex-wrap: wrap;
    flex-basis: 100%; */

    background: linear-gradient(45deg, white 10%, yellow 90%);
    border: 1px solid greenyellow; 
    border-radius: 10px;                
}

.hero-section a {
    text-decoration: none;
    color: black;
    
    font-size: 22px; 
    
    padding: 0.5em 1em;
    
}
