 /* resets */

 * {
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

body {
    margin: 0;
}

main {
    max-width: 80ch;
    margin: auto;
}

p {
    font-family: 'Karla', sans-serif;
    font-family: 'Roboto Slab', serif;
}

h1,
h2,
h3,
h4, nav a {
    margin: 0;

    font-family: 'Alegreya Sans SC', sans-serif;
    font-variant: small-caps;
    font-weight: bold;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;

    height: 80vh;
    margin: 0;

    background-color: #e66465;
    background-image: url('https://images.pexels.com/photos/2138922/pexels-photo-2138922.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-position: center;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

/* outer flex item */
.logo-title {
    margin:0; 

    display:flex;
    padding: 1em;
}

/* inner flex item - logo */
.logo {
    font-size: 40px;
    color: purple;
}

/* inner flex-item - Title */
.logo-title a{
    font-size: 21px;
    color: black;
    font-weight: bold;
    padding-left: 0.5em;
    
}

/* outer flex item - nav  */
nav ul{
    margin:0; 
    display:flex;
    padding: 1em;
    align-items: center;
}

/* inner flex item - navbar items */

nav li{
    padding:0.5em;
}

nav a{
    display: block;

    font-size: 21px;

    color: black;
    

    padding: 0.5em;
    text-align: center;
}
}
