 /* resets */

 * {
    box-sizing: border-box;
}

nav ul, .login ul {
    list-style-type: none;
    padding-left: 0;
}

body {
    margin: 0;
}

main {
    max-width: 1000px;
    margin: auto;
}

p, .contact_form label, fieldset {
    font-family: 'Karla', sans-serif;
    font-family: 'Roboto Slab', serif;

    line-height: 1.7;
}

h1,
h2,
h3,
h4, nav a, button {
    margin: 0;

    font-family: 'Alegreya Sans SC', sans-serif;
    font-variant: small-caps;
    font-weight: bold;
}

a {
    text-decoration: none;
}

header {
    display: flex; 
    flex-direction: column;

    margin: 0;

    background-color: rgb(235, 213, 235);
    
    
}

footer{
	padding: 1em;
	
	text-align: center;
    font-variant: small-caps;
    
    background-color: rgb(235, 213, 235);
    
    position: fixed;
    height: 50px;
    
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    margin-top: 1em;
	
}

/* main-header ---> 1st flex item of flexbox "header" */
.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    margin: 0;
}

/* logo-title ---> 1st flex item of flexbox "main-header"  */
.logo-title {
    margin:0; 

    display:flex;
    flex-basis: 50%;
    flex:auto;
    padding: 0.5em;

}

/* logo ---> 1st flex item of flexbox "logo-title"  */
.logo {
    font-size: 40px;
    color: purple;
}

/* logo-title ---> 2nd flex item of flexbox "logo-title"  */
.logo-title a{
    font-size: 21px;
    color: black;
    font-weight: bold;
    padding-left: 0.5em;
    
}

/* nav ---> 2nd flex item of flexbox "main-header"  */
nav ul{
    margin:0; 
    display:flex;
    flex-wrap: wrap;
    flex: auto;
    flex-basis:50%;
    padding: 0.5em;
    justify-content: end;
    align-items: center;
}

/* nav  li ---> flex items of flexbox "nav ul"  */
nav li{
    padding:0.5em;
    /* flex-basis: 100%; */
}

nav a{
    display: block;

    font-size: 21px;

    color: black;
    

    padding: 0.5em;
    text-align: center;
}

nav a:hover {
    background-image: linear-gradient(white, purple);
}

nav a:active {
    border: 1px solid black;
}

.current {
    background-color: #f7dfdf;
}

/* hero-section ---> 2nd flex item of flexbox "header" */
.hero-section {
    height: 70vh;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;


    background-image: url('https://images.pexels.com/photos/2138922/pexels-photo-2138922.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-position: center;
}

.hero-section h1{
    flex-wrap: wrap;

    color: white;
    font-size: 80px;

}

.hero-section p{
    flex-wrap: wrap;

    color: white;
    font-size: 20px;
}

.hero-section button {
    /* flex-wrap: wrap;
    flex-basis: 100%; */

    background: linear-gradient(45deg, white 10%, yellow 90%);
    border: 1px solid greenyellow; 
    border-radius: 10px;                
}

.hero-section a {
    text-decoration: none;
    color: black;
    
    font-size: 22px; 
    
    padding: 0.5em 1em;
    
}

/* Gallery */
.gallery {
    text-align: center;

    box-sizing: border-box;
    width: 100%;
    /* border-bottom: solid grey 1px; */
    padding: 5px;
}

.gallery img {
    margin-top: 5em;
    width: 800px;
}

/* Contact Us */

.contact {
    text-align: center;

    box-sizing: border-box;
    width: 100%;
    /* border-bottom: solid grey 1px; */
    padding: 5px;
    margin-bottom: 5em;
}

.contact h2{
    margin: 2em;
}

.box_contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact_address {
    margin:1em;
    border: solid grey 2px;
    padding-left: 5px;
    padding-right: 5em;
    padding-top: 5px;
    padding-bottom: 10px;
}

.contact_form ul,
.contact_address ul {
    margin: 0;
    padding: 10px;

    list-style-type: none;
}

.contact_address p {
    margin: 0;

    font-size: 14px;

    text-align: left;
}


/* Contact Us - form */

.contact_form ul{
    margin-top: 25px;

    display: flex;
    flex-direction:column;

    align-items: flex-start;
}

.contact_form li {
    display:flex;
    /* justify-content: flex-start; */
}


.contact_form label,.contact_form input,.contact_form textarea {
    flex: 1 0 120px;
    text-align: left;
    margin: 5px;
}

.contact_form label {
    font-size: 14px;
    line-height: 25px;
}

.contact_form button {
    margin-top: 20px;
    margin-left: 100px;
    
    padding: 0.5em 2em;
    background: linear-gradient(grey, yellow);
    border: 1px solid grey; 
    border-radius: 10px; 
}

.contact_form p{
    font-weight: bold;
}



/*  <---- styling for 2nd page - register.html ----> */

/* register --> outer flex */

.register, .login {
    margin-top:10%;
    padding: 1em;
    padding-bottom: 4em;
    
    text-align: center;
    
    /* background-color: rgb(245, 239, 245); */
    /* border: 1px solid rebeccapurple;  */
}

.register p, .login p {
    font-size: 25px;
    font-weight: bold;

    color: rgb(134, 28, 134);
}

fieldset {
    margin: auto;
    margin-top: 2em;
    display: inline-block;
   
    text-align: center;
}

.register ul {
    /* max-width: 400px; */
    margin: auto;
    padding: 2em;

    display:flex;
    flex-direction: column;

    text-align: left;
    
}

.register li {
    margin-top: 0.75em;
    display: flex;
    flex: wrap;
    align-items: center;
}

.flexitem-subheading {
    margin-top: 1.5em;
    justify-content: center;
}

.register input {
    flex: 1 0 120 px;
    background: transparent;
}
.register label{
    flex: 1;
    margin-right: 50px;
}

.subscribe {
    flex: 1;
    text-align: center;
    margin-top: 3em;
}

.subscribe label{
    flex: 1 0 120 px;
    /* margin-left: 1em; */
    justify-content: center;
}
.subscribe input {
    margin-right: 0.5em;
}

.register button {
    margin-top: 20px;
    /* margin-left: 9em; */
    flex:auto;
    
    padding: 0.5em 2em; 

    background: linear-gradient(grey, yellow);
    border: 1px solid grey; 
    border-radius: 10px; 

    font-size: 20px;
}

/* login --- 3rd page styling */

